<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Öğrenci Listesi</div>

                    <div class="card card-body" v-for="ogrenci in ogrenciler" v-bind:key="ogrenci.id">
                    <ul>
                        <li>Öğrenci Adı/No: {{ogrenci.ogrenci_adi}} / {{ogrenci.ogrenci_no}}</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                ogrenciler: [],
                ogrenci:
                    {
                        id: '',
                        ogrenci_adi: '',
                        ogrenci_no: '',
                    }
            }
        },
        created(){
         this.fetchOgrenciler();
        },
        methods: {
            fetchOgrenciler(page_url){
                let vm = this;
                page_url = page_url || '/api/ogrenciler'
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                    this.ogrenciler = res.data;
                });
            }
        }
    }
</script>
